.parent {
    width: 100%;
    display: flex;
    justify-content: center;
}
.containerBox {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.text{
    font-size: medium;
    font-weight: normal;
}
